Valera/LB1.XMLXSDXSLT/LB1.XMLXSDXSLT/xml/shop/entity.xsd

<?xml version="1.0" encoding="UTF-8"?>
	<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.nure.ua/entity/"
	xmlns:tns="http://www.nure.ua/entity/"
	elementFormDefault="qualified"> 
	
<xsd:complexType name="Entity"> 
	<xsd:attribute name="id" type="tns:EntityId" use="optional" />
</xsd:complexType> 
	<xsd:simpleType name="EntityId"> 
		<xsd:restriction base="xsd:int"> 
			<xsd:minInclusive value="1" />
			<xsd:maxExclusive value="99999999" />
			<xsd:pattern value="[0-9]*" />
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>